@import "globalscss";
html,body,#app{
  font-size:$fontSize;
  position: relative;
  width:100%;
  height:100%;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif!important;
}
table,.ivu-input{
  font-size:$fontSize;
}

.disable-input{
  display: inline-block;
  width: 100%;
  height: 32px;
  padding: 4px 7px;
  border: 1px solid #dddee1;
  border-radius: 4px;
  position: relative;
  background-color: #f3f3f3;
  opacity: 1;
  cursor: not-allowed;
  /*color: #ccc;*/
  line-height: 190%;
}
.mu-paper.mu-drawer{
  background: #f6f5f8;
  width:320px;
  .drawer-content{
    width:100%;
    height:100%;
    overflow: auto;
    .drawer-title{
      background: $menuSelectFontColor;
      width:100%;
      height:60px;
      color: #fff;
      font-size:20px;
      text-align: center;
      line-height: 60px;
      .ivu-icon-close{
        position: absolute;
        right: 2px;
        top: 2px;
        transition:transform .3s ;
      }
      .ivu-icon-close:hover{
        cursor: pointer;
        transform: rotate(90deg);
      }
    }
  }
}
.red-star{
  color: #fb2f2f;
  font-size: 19px;
  line-height: 26px;
}



